{% extends "_base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}
{% block title %}{{ article.title|striptags }}{% endblock %}

{% block content_left %}
<section>
  <article>
    <h1 class="_article_header">
      <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
          title="Permalink to {{ article.title|striptags }}">{{ article.title }}
      </a>
    </h1>

    <div class="_article">
      {% include '_article_infos.html' %}
      {{ article.content }}
    </div><!-- /.entry-content -->

    {% if DISQUS_SITENAME and SITEURL and article.status != "draft" %}    
    <div class="comments">
      <br />
      <br />
      <hr />
      <h2>Comments !</h2>
      <div id="disqus_thread"></div>
      <script type="text/javascript">
        var disqus_shortname = '{{ DISQUS_SITENAME }}';
        var disqus_identifier = '{{ article.url }}';
        var disqus_url = '{{ SITEURL }}/{{ article.url }}';
        (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//{{ DISQUS_SITENAME }}.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      </script>
      <noscript>Please enable JavaScript to view the comments.</noscript>
    </div>
    {% endif %}

  </article>
</section>
{% endblock %}
{% block content_right %}
<div> 
  {% include '_aboutme.html' %}
  {% include '_categories.html' %}
  {% include '_tags.html' %}
</div>
{% endblock content_right %}
